{% extends 'base.html' %}
{% block content %}
<div class="card bg-dark text-white border-0 mb-5 shadow-lg overflow-hidden" style="border-radius: 15px;">
    <img src="{{ url_for('static', filename='assets/logo/bann.jpg') }}" style="height: 350px; object-fit: cover; opacity: 0.4;">
    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="display-3 fw-bold text-tetra-green text-shadow">Estampados y Etiquetas</h1>
        <p class="lead fs-4 text-light">Calidad, innovación y rapidez para tus prendas de vestir.</p>
    </div>
</div>

<h2 class="text-center fw-bold mb-4">CATÁLOGO DE SERVICIOS</h2>
<hr class="w-25 mx-auto mb-5 text-tetra-green border-3 opacity-100">

<div class="row row-cols-1 row-cols-md-3 g-5">
    {% for p in productos %}
    <div class="col">
        <div class="card product-card h-100 rounded-4 overflow-hidden">
            {% if p.imagen %}
                <img src="{{ p.imagen }}" class="card-img-top" alt="{{ p.nombre_producto }}">
            {% else %}
                <div class="card-img-top bg-secondary d-flex align-items-center justify-content-center text-white">Sin Imagen</div>
            {% endif %}
            
            <div class="card-body d-flex flex-column text-center">
                <h5 class="card-title fw-bold">{{ p.nombre_producto }}</h5>
                <h4 class="text-danger fw-bold my-3">
                    {% if p.precio > 0 %} S/ {{ p.precio }} {% else %} Cotizar {% endif %}
                </h4>
                <div class="mt-auto">
                    <a href="/producto/{{ p.id }}" class="btn btn-tetra-green w-100 fw-semibold py-2">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}